@import '@/variables'


#sign_in-form
    //border: 2px solid red
    #checkbox-cont
        //border: 2px solid red
        overflow: visible
        z-index: 2
        width: auto
        height: 1rem
        flex-direction: row
        margin-top: 0.9rem
        &:hover
            span
                color: $color-main-text-act
        span
            margin-left: 0.4rem
            margin-top: 0.07rem
            color: $color-main-text
            font-size: $size-main-text
            cursor: pointer
        .tool_tip
            left: calc(50% - 3.5rem)
            width: 7rem
    .submit-but
        .fa-icon
            font-size: 1.05rem
    