@import '@/variables'


.card_link-but
    .fa_icons_tooltip-cont
        pointer-events: none
        .fa_icons_switch-cont
            //border: 2px solid red
            //overflow: visible
            position: absolute
            top: 0
            justify-content: space-between
            height: $size-small-round-but * 2
            will-change: transform
            transition: transform $dur-unfolding-card ease-out
            transform: translateY(-50%)
            .fa_icon-cont
                //border: 2px solid red
                width: $size-small-round-but
                height: $size-small-round-but
                .link-icon
                    font-size: 18px
                .close-icon
                    font-size: 23px
    &:hover
        .link-icon
            transform: translate(1px, -1px)
        .close-icon
            transform: rotate(90deg)
    &:active
        .link-icon
            transform: scale(0.8)
        .close-icon
            transform: rotate(90deg) scale(0.8)
    &.close_icon_opened
        .fa_icons_switch-cont
            transform: translateY(0)