@import '../AuthPage_variables'



.submit-but
    border-radius: $rad-but-border
    width: $size-confirm-but
    height: calc($size-confirm-but / 2)
    background-color: $color-confirm-but
    overflow: visible
    z-index: 2
    &:hover, &:focus
        transform: translateX(-$height-but-act-jump * 1.5)
        background-color: $color-confirm-but-act
    &:active
        transform: translateX(-$height-but-act-jump * 4)
        .fa-icon
            filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.85))
    &:disabled
        pointer-events: none
    .fa-icon
        margin-top: -0.07rem
        color: $color-backgr
    &.blur
        pointer-events: none
        border: 1px solid $color-icon-border
        background-color: $color-backgr
        .fa-icon
            color: $color-icon
        .confirm_but_bg-cont
            opacity: 0
