@import '../../variables'



#main_view-cont
    padding: $margin-card $margin-card 1rem
    flex-direction: row
    overflow: visible
    .second-column
        margin: 0 $margin-card
        flex-shrink: 1
        overflow: visible
        .search_filters_day-cont
            margin-bottom: $margin-card
            min-height: 7rem
            height: 23%
            max-height: 8rem 
            flex-direction: row
            overflow: visible
            .search_and_main_filters-cont
                margin-right: $margin-card
                flex-shrink: 1
                overflow: visible
                .search_card-cont
                    height: 2rem
                    margin-bottom: $margin-card
                .main_filter_card-cont
                    flex-shrink: 1
                    // width: 100%
            .date_filter_card-cont
                margin-right: $margin-card
                min-width: 7rem
                width: 24%
                max-width: 16rem
            .day_info_card-cont
                min-width: 7rem
                width: 20%
                max-width: 12rem
        .task_card-cont
                flex-shrink: 1
                margin-bottom: $margin-card
        .new_task_but-cont
            // border: 2px solid orange
            height: 2rem
            flex-direction: row
            overflow: visible
            button
                flex-shrink: 1
                height: 100%
                width: 100%
                &:nth-child(2)
                    width: 15rem
                    margin: 0 $margin-card
    .third-column
        width: 14.8rem
        overflow: visible
        .recent_changes_card-cont
            height: 50%
            // height: 60%
            margin: $margin-card 0
        .recent_messages_card-cont
            flex-shrink: 1