@import '../../variables'



#main_view-cont
    padding: $margin-card $margin-card 0.7rem
    flex-direction: row
    overflow: visible
    justify-content: end
    .center-column
        margin: 0 $margin-card
        flex-shrink: 1
        overflow: visible
        .center_column-header
            //border: 1px solid orange
            margin-bottom: $margin-card
            height: 251px
            flex-direction: row
            overflow: visible
            justify-content: flex-end //! Delete
            .search_and_task_filters-cont
                margin-right: $margin-card
                flex-shrink: 1
                //width: auto
                .search-card
                    height: 2rem
                    margin-bottom: $margin-card
                //.task_filters-card

            .calendar-card
                margin-right: $margin-card
                width: 467px
                flex-shrink: 0
            .weather_card-frame
                //border: 1px solid orange
                width: 345px
                flex-shrink: 0
        .task_and_note_cards-cont
            flex-direction: row
            flex-shrink: 1
            .task-card
                margin-right: $margin-card
            .note-card
                //border: 2px solid orange
    .right-column
        //border: 2px solid orange
        width: 14.8rem
        overflow: visible
        .account_info-card
            //border: 2px solid orange
        .recent_changes_card-cont
            //height: 100%
            flex-shrink: 1
            margin: $margin-card 0
        .recent_messages_card-cont
            height: 20%