@import '../../LoginPanel_variables'



.password_input-cont
    // border: 2px solid red
    .caps_lock-cont
        // border: 2px solid orange
        z-index: 3
        position: absolute
        left: -1.6rem
        transition: all 0.2s ease
        transform: scale(0.4) + translateX(0.5rem)
        opacity: 0
        pointer-events: none
        &.opened
            transform: scale(1) + translateX(0)
            opacity: 1
            pointer-events: auto
        span
            font-family: 'Noto Sans Display'
            color: $color-but-icon
            letter-spacing: -2px
            font-size: 0.7rem
            pointer-events: none
    .lock-but
        // border: 2px solid black
        position: absolute
        right: $size-float-but - 1rem
        width: $size-float-but
        height: $size-float-but
        border-radius: 50%
        z-index: 3
        transform: scale(0.8) + translateX(0.5rem)
        opacity: 0
        pointer-events: none
        &::after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            border-radius: 50%
            background-color: #cbcbcb4e
            transition-duration: 0.18s
            z-index: -1
            transform: scale(0)
        &:hover
            transform: none
            &::after
                transform: scale(1)
        &:active
            .fa-icon
                transform: scale(0.7)
        &.opened
            transform: scale(1) + translateX(0)
            opacity: 1
            pointer-events: auto
        .fa-icon
            // border: 2px solid black
            // margin-top: -0.1rem
            transition-duration: 0.2s
            color: $color-but-icon
            width: $size-float-but - 0.6rem
