@import './components/_AuthPage/AuthPage_variables'
@import './variables'


input
    transition: all 0.2s ease
    color: $color-input
    z-index: 1
    &::placeholder
        color: $color-place-holder

button
    flex-shrink: 0
    transition: all 0.2s ease
    z-index: 1

h1
    font-weight: 600
    font-size: $size-h1

h3
    font-size: $size-h3

img, .fa-icon
    flex-shrink: 0
    pointer-events: none
    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

.fa-icon
    transition: all 0.15s ease-out
    color: $color-icon
    overflow: visible

.cont
    width: 100%
    height: 100%
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overscroll-behavior: contain
    flex-shrink: 0

.before_but-hover
    //border: 1px solid black
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        border-radius: 50%
        background-color: $color-behind-icon
        transition: transform 0.18s ease
        z-index: -2
        transform: scale(0)
    &:hover
        transform: translateY(0)
        &::after
            transform: scale(1)
    &:active
        .fa-icon
            transform: scale(0.7)

.before_lines-hover
    $trans-hover-duration: 0.3s
    &::before
        content: ''
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        height: 2px
        width: 100%
        background: $color-gradient-hover
        transition: all $trans-hover-duration ease-out
        max-width: 0
        opacity: 0
    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        height: 2px
        width: 100%
        background: $color-gradient-hover
        transition: all $trans-hover-duration ease-out
        max-width: 0
        opacity: 0
    &:hover, &:focus
        z-index: 2
        &::before
            z-index: 2
            opacity: 1
            max-width: 100%
        &::after
            z-index: 2
            opacity: 1
            max-width: 100%
    &:active
        &::before
            background: $color-gradient-active
        &::after
            background: $color-gradient-active

.card
    background-color: $color-card-backgr
    border-radius: $rad-main-border
    //box-shadow: 2px 10px 30px #00000027
    padding: $padding-card
    transition: all 0.3s ease
    justify-content: flex-start
    flex-shrink: 1


*
    //border: 1px solid black
    //&:focus
    //    border: 4px solid red
