@import './components/_AuthPage/AuthPage_variables'
@import './components/Cards/Cards_variables'



input
    transition: all 0.2s ease
    color: $color-input
    &::placeholder
        color: $color-place-holder
        // font-weight: 
        // font-style: italic
        // text-transform: capitalize

button
    flex-shrink: 0
    transition: all 0.2s ease
    &:hover
        transform: translateY($height-but-act-jump)
    // &:active
    //     transform: translateY($height-but-act-jump) + scale(0.95)

h1
    font-weight: 600
    font-size: $size-h1

h3
    font-weight: 800
    font-size: $size-h3

img, .fa-icon
    flex-shrink: 0
    pointer-events: none
    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

.fa-icon
    color: $color-but-icon

.cont
    width: 100%
    height: 100%
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overscroll-behavior: contain
    flex-shrink: 0

.before_but-hover
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        border-radius: 50%
        background-color: #cbcbcb4e
        transition: transform 0.18s ease
        z-index: -1
        // opacity: 0
        transform: scale(0)
    &:hover
        transform: translateY(0)
        &::after
            // opacity: 1
            transform: scale(1)
    &:active
        .fa-icon
            transform: scale(0.7)

.card
    background-color: $color-cards-background
    border-radius: 25px
    box-shadow: 2px 10px 30px #00000027
    padding: $padding-card
    transition: all 0.3s ease
    justify-content: flex-start
    .card_label-cont
        // border: 2px solid orange
        margin-top: calc(-1 * $padding-card / 3)
        height: auto
        flex-direction: row
        overflow: visible
        margin-bottom: $padding-card + 0.1rem
        // margin-top: 2rem
        &::after
            content: ''
            position: absolute
            bottom: calc(-1 * $padding-card / 2)
            height: 1px
            width: 80%
            background-color: $color-after-element
        .fa-icon
            font-size: 0.9rem
            margin-right: 0.3rem
        .label-name
            // color: red
            font-size: $size-main-text - 0.05rem
    .card_content-cont
        // border: 2px solid red
        overflow: visible
        flex-shrink: 1
        // justify-content: flex-start

// *
//     border: 1px solid
