$color-confirm-but: #254578e0
$color-confirm-but-act: #254067
$color-cover-dark: #162c4c
$color-cover-light: #6a8ab0
$color-bg-light: #4f6886
$color-bg-dark: #112035

$size-h1: 1.41rem
$size-h3: 0.88rem
$size-main-text: 0.74rem

$color-but-border: #8c8c8c95
$color-but-icon: #303547c4
$color-but-icon-act: #13223edd

$height-but-act-jump: -1.5px

$color-main-text: #142733d3
$color-main-text-clear: #1427339b
$color-main-text-act: #010624df

$color-backgr: #e9edf0
$color-backgr-clear: rgba(233, 237, 240, 0.86)
$color-dark-blue: #2B4D7D

$color-place-holder: #737373e4

$color-after-element: #090d421c

$size-small-but: 1.7rem
$size-big-but: 2.1rem
$size-float-but: 1.4rem


$trans-style: ease-in-out
$trans-bounce-style: cubic-bezier(.36,1.48,.3,.83)
// $trans-wave-bounce-style: cubic-bezier(.55,-0.25,.39,1.23)

//* Card
$padding-card: 0.7rem
$margin-card: 0.5rem

//$color-cards-background: #e9edf0
$color-card-backgr: rgba(233, 237, 240, 0.03)

//* ---