$color-confirm-but: #173b75e0
// $color-confirm-but-act: #143c7b
$color-confirm-but-act: #12356e
$color-cover-gradient: #6a8ab0

$size-h1: 1.41rem
$size-main-text: 0.75rem

$color-but-border: #8c8c8c95
$color-but-icon: #303547c4
$color-but-icon-act: #13223edd

$height-but-act-jump: -1.5px

$color-main-text: #142733d3
$color-main-text-clear: #1427339b
$color-main-text-act: #010624df

$color-backgr: #e9edf0

$color-place-holder: #737373e4

$color-after-element: #090d421c

$size-small-but: 1.7rem
$size-float-but: 1.4rem