//* Colors
$color-main-text: #142733d3
$color-main-text-act: #010624df
$color-main-text-hover: rgba($color-main-text, 0.08)

$color-input: #000
$color-place-holder: rgba($color-main-text, 0.45)
$color-error: #af2900
$color-error-hover: #790f01

$color-icon: rgba($color-main-text, 0.7)
$color-icon-border: rgba($color-main-text, 0.3)
$color-behind-icon: rgba(145, 145, 145, 0.15)

$color-backgr: #e9edf0
$color-backgr-clear: rgba($color-backgr, 0.86)

$color-blue-main: #2B4D7D
$color-blue-clear: rgba($color-blue-main, 0.2)

$color-gradient-hover: linear-gradient(90deg, rgba(#ffff, 0) 10%, rgba($color-backgr, 0.2) 50%, rgba(#ffff, 0) 90%)
$color-gradient-active: linear-gradient(90deg, rgba(#ffff, 0) 10%, rgba($color-backgr, 0.07) 50%, rgba(#ffff, 0) 90%)

$shadow-card: 2px 10px 30px rgba(0, 0, 0, 0.1)

$color-notif: #4cb157

//* Sizes
$size-main-text: 0.74rem //* 1rem = 25px
$size-h1: calc($size-main-text + 0.67rem)
$size-h2: calc($size-main-text + 0.2rem)
$size-h3: calc($size-main-text + 0.14rem)
$size-h4: calc($size-main-text + 0.11rem)

$size-round-but: 2rem
$size-tiny-round-but: calc($size-round-but - 0.5rem)
$size-small-round-but: calc($size-round-but - 0.3rem)
$size-big-round-but: calc($size-round-but + 0.1rem)
$size-confirm-but: 4.7rem
$padding-x-field-input: 1.9rem

//* Radius
$rad-main-border: 35px

//* Animations
$trans-style: ease-in-out
$trans-bounce-style: cubic-bezier(.36,1.48,.3,.83)
$trans-little-bounce-style: cubic-bezier(.51,1.51,.76,.88)
// $trans-wave-bounce-style: cubic-bezier(.55,-0.25,.39,1.23)
$height-but-act-jump: -1.5px

$dur-unfolding-card: 0.15s
$dur-drop-down: 0.35s
$dur-jumping-card: 0.3s

//* --- BG vars
$color-confirm-but: rgba(40, 70, 118, 0.88)
$color-confirm-but-act: #254067
$color-cover-dark: #192e40
$color-cover-light: #6685aa
$color-bg-light: #40556f
$color-bg-dark: #0b1b25
//* ---

//* --- Card vars
$padding-card: 0.8rem
$margin-card: 0.7rem

$padding-white-card: $padding-card * 2.3
$margin-white-card: 0.6rem
$rad-white-card-border: $rad-main-border * 2

$color-card-backgr: rgba($color-backgr, 0.03)

//* ---