@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap")
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap') //* AppTitle
// @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Itim&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap')
@import 'reset'
@import 'common'
@import 'components/_AuthPage/ButtonsCont/ButtonsCont'
@import 'components/common/common_imports'
@import 'components/others/NavBar/NavBar'
@import 'components/others/AccountInfoCard/AccountInfoCard_imports'
@import 'components/others/LogBook/LogBookButton'
@import 'components/others/SettingsButton/SettingsButton'
@import 'components/others/LogBook/LogBookList'
@import 'components/others/ToolTip/ToolTip'
@import 'components/others/SnackBar/SnackBar'
@import 'components/_AuthPage/AuthPage_imports'
@import 'components/_HomePage/HomePage_imports'
@import 'pages/AuthPage/AuthPage'
@import 'pages/HomePage/HomePage'


#main_body-cont
    color: $color-main-text
    font-family: "Nunito", serif
    font-size: $size-main-text
    font-weight: 400
    .bg
        position: fixed
        top: 0
        left: 0
        pointer-events: none
        width: 100vw
        height: 100vh
.main_bg-gradient
    z-index: -10
    background: radial-gradient(circle, $color-bg-light, $color-bg-dark)
    // background: linear-gradient(70deg, $color-bg-dark 20%, $color-bg-light 50%, $color-bg-dark 80%)
    //border-radius: $rad-main-border / 2



//@media (max-width: 700px)
//    #main_body-cont
//        display: none