@import '../LoginPanel_variables'



.submit-but
    // border: 2px solid red
    border-radius: $rad-but-border
    width: $size-confirm-but
    height: calc($size-confirm-but / 2)
    background-color: $color-confirm-but
    // background-color: #016d11
    &:hover, &:focus
        transform: translateX(-$height-but-act-jump * 1.5)
        background-color: $color-confirm-but-act
        // background-color: #047815
    // &:disabled
    //     pointer-events: none
    //     background-color: #173b75b4
    .fa-icon
        margin-top: -0.07rem
        color: $color-backgr
        
        