@import '@/variables'


$width-full-weather-card: 23.5rem
.weather_card-frame
    //border: 1px solid black
    overflow: visible
    border-radius: $rad-main-border
    .weather-card
        //border: 1px solid red
        min-height: 100%
        .weather_card-header
            //border: 1px solid green
            height: auto
            flex-direction: row
            justify-content: space-between
            overflow: visible
            .select_but-cont
                margin-left: -0.5rem
                .select_but_selected
                    color: $color-backgr
                    font-weight: 600
                    font-size: $size-h3
        .weather_part-cont
            //border: 1px solid yellow
            margin-top: 0.4rem
            overflow: visible
            .weather_tool_tip-cont
                overflow: visible
                .weather_with_description-cont
                    .weather_extra_info-cont
                        flex-shrink: 1
                        transition: all $dur-unfolding-card * 0.5 ease-out
                        max-width: 0
                        opacity: 0
                        transform: scale(0.6)
                .future_weather-cont
                    //border: 1px solid brown
                    margin-top: 1rem
                    transition: all $dur-unfolding-card * 1.2 $dur-unfolding-card * 0.5 ease-out
                    max-height: 5rem
                .tool_tip-cont
                    //border: 1px solid brown
                    z-index: 10
                    border-radius: 0
                    .tool_tip
                        &.left
                            top: 1.2rem
                            bottom: auto
                            right: calc(100% + 1.5rem)
            .unfolding_card-only_full
                //border: 1px solid brown
                .hourly_weather_slider-cont
                    margin: 1.3rem 0
                .daily_weather_list-cont
                    //border: 1px solid black
                    justify-content: space-between
                    background: linear-gradient(rgba($color-backgr, 0.07), rgba($color-backgr, 0.02))
                    border-radius: $rad-main-border
                    padding: $padding-card - 0.16rem $padding-card
                    height: auto
                    overflow: visible
                    z-index: 12
            &.loading
                opacity: 0.4
        .weather_progress-cont
            height: 5.5rem
        &.full
            width: $width-full-weather-card
            .weather_part-cont
                .weather_with_description-cont
                    .weather_extra_info-cont
                        transition: all $dur-unfolding-card * 1.5 ease-out
                        max-width: 10rem
                        opacity: 1
                        transform: scale(1)
                .future_weather-cont
                    transition: all $dur-unfolding-card * 1.2 ease-out
                    margin-top: 0
                    max-height: 0
                    opacity: 0
                    pointer-events: none
