@import '../../../_variables'



.dropdown-cont
    //border: 2px solid red
    position: absolute
    top: calc(0.1rem + 120%)
    width: 108%
    padding: 0.5rem
    box-shadow: 2px 10px 30px #00000031
    background-color: $color-backgr
    text-align: center
    // vertical-align: top
    z-index: 10
    pointer-events: none
    max-height: 0
    border-radius: $rad-main-border $rad-main-border 100px 100px
    opacity: 0
    transform: scale(0.9) translateY(-1rem)
    transition: all 0.3s ease, opacity 0.2s ease
    filter: blur(5px)
    &.scroll
        overflow-y: scroll
        scroll-behavior: smooth
        scroll-snap-type: y mandatory
        -ms-overflow-style: none
        scrollbar-width: none
        &::-webkit-scrollbar
            display: none
    &.opened
        pointer-events: auto
        max-height: 15rem
        border-radius: $rad-main-border
        opacity: 1
        transform: scale(1) translateY(0)
        filter: none