@import '../Cards_variables'



.notification_card-cont
    .card_label-cont
    .card_content-cont
        .notif_list-cont
            flex-shrink: 1
            justify-content: flex-start
            .notif_elem
                // border: 2px solid gray
                height: 3rem
                opacity: 1