@import  '../AuthPage_variables'


.name_tag
    // border: 2px solid red
    position: relative
    display: block
    color: $color-main-text
    font-family: "Nunito", serif
    font-weight: 400
    font-size: 0.7rem
    z-index: 2
    .tool_tip
        &.top
            left: calc(50% - 4.5rem)
            width: 9rem