



#sign_in-form
    // border: 2px solid red
    #checkbox-cont
        // border: 2px solid red
        width: auto
        height: auto
        height: 1rem
        margin-top: 0.8rem
        flex-direction: row
        span
            margin-left: 0.4rem
            font-size: $main-text-size
            cursor: pointer
    