@import '@/variables'


.user_info_edit_form_submit-but
    $size-submit-but: 4rem
    width: $size-submit-but !important
    height: $size-submit-but !important
    margin-left: $margin-white-card
    .fa-icon
        font-size: 1.8rem !important
        color: $color-backgr