<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#0000">
    <meta name="description" content="Web-app for employees of corporation">
    <meta name="Author" content="bobrikilya">
    <meta name="Copyright" content="bobrikilya">
    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="StroyprTeam">
    <!-- Описание страницы -->
    <meta property="og:description" content="Приложение для сотрудников Стройпродукт">
    <!-- Ссылка на изображение, которое будет публиковаться в share -->
    <!-- <meta property="og:image" content="img/logo-96.png"> -->
    <!-- Название сайта -->
    <meta property="og:site_name" content="StroyprTeam">
    <!-- Запрет индексации страницы поисковикам -->
    <meta name="robots" content="noindex">
    <!-- Открывать как нативное приложение -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <script src="https://kit.fontawesome.com/4e8933053d.js" crossorigin="anonymous"></script>
    <title>StroyprTeam</title>
</head>
<body>
    <div id="frame_cont" class="cont">
        <h1>Hello world!</h1>        
    </div>

    <script src="js/script.js"></script>
</body>
</html>