@import '../../../../_variables'



.write_birthday-but
    border: 1px solid rgba($color-backgr, 0.2)
    position: absolute
    left: 50%
    transform: translateX(-50%)
    color: $color-backgr-clear
    background-color: $color-card-backgr
    padding: 1rem
    border-radius: $rad-main-border
    font-size: $size-main-text
    width: 80%