@import '../../../../variables'



.weather_with_description-cont
    //border: 1px solid red
    flex-direction: row
    justify-content: space-between
    overflow: visible
    height: auto
    .weather_with_description_text-cont
        //border: 1px solid blue
        width: auto
        align-items: start
        color: $color-backgr
        margin-top: 0.3rem
        //justify-content: space-around
        .weather_with_description-description
            //border: 1px solid blue
            //white-space: nowrap
            margin-bottom: 0.25rem
            max-width: 7rem
            font-weight: 600
        .weather_with_description-fells_like
            //border: 1px solid brown
            white-space: nowrap
            color: rgba($color-backgr, 0.7)
            font-weight: 400
        .weather_with_description-alert
            margin-top: 0.15rem
            font-size: $size-main-text - 0.05rem
            font-weight: 600
            color: #a2b8f5
        &.with_alert
            margin-top: 0
            .weather_with_description-description
                margin-bottom: 0.15rem