@import '../../../../variables'



.weather_with_description-cont
    //border: 1px solid red
    flex-direction: row
    justify-content: space-between
    overflow: visible
    height: auto
    .weather_with_description_text-cont
        //border: 1px solid blue
        //margin-left: 10%
        height: auto
        width: auto
        align-items: start
        color: $color-backgr
        overflow: visible
        .weather_with_description-title
            max-width: 7rem
            //white-space: nowrap
            margin-bottom: 0.15rem
            font-weight: 600
        .weather_with_description-description
            white-space: nowrap
            color: rgba($color-backgr, 0.7)
        .weather_with_description-alert
            margin-top: 0.15rem
            font-size: $size-main-text - 0.05rem
            font-weight: 600
            color: #a2b8f5