@import '../../../variables'



.nav_bar-card
    //border: 2px solid green
    background: none
    width: 2.7rem
    justify-content: space-between
    overflow: visible
    z-index: 10
    .logo-cont
        height: auto
        margin-top: 12px
        overflow: visible
        //margin-bottom: 0.7rem
        .app_icon-img
            //border: 2px solid black
            z-index: 100
            width: 2.15rem
            margin-bottom: 0.05rem
        .app_title-cont
            opacity: 0.6
            .app_title_name
                font-size: 0.73rem
    .nav_bar-cont
        height: auto
        padding: 0.28rem 0
        overflow: visible
        .round-but
            //border: 1px solid orange
            margin: 0.5px 0
            background-color: rgba($color-behind-icon, 0)
            .tool_tip-cont
                .tool_tip
                    &.right
                        bottom: calc(10%)
            &:hover
                background-color: $color-behind-icon
            &:active
                background-color: rgba($color-behind-icon, 0.2)
            &.selected
                pointer-events: none
                background-color: $color-backgr
                .fa-icon
                    color: $color-blue-main
    .nav_bar-footer
        //border: 1px solid orange
        height: auto
        overflow: visible
        &::before
            content: ''
            width: 0.4rem
            height: 0.4rem
            background-color: $color-backgr-clear
            border-radius: 50%
            margin-bottom: 0.7rem
            pointer-events: none
            //display: none
        .round-but
            .fa-icon
                color: $color-backgr-clear
        .log_book-but
            .fa-icon
                font-size: $size-round-but - 1.08rem
        .info-but
            margin-bottom: 0.15rem
            .fa-icon
                font-size: $size-round-but - 0.88rem
        .settings-but
            .fa-icon
                font-size: $size-round-but - 0.64rem