@import '../LoginPanel_variables'



.submit-but
    // border: 2px solid red
    border-radius: $rad-but-border
    width: $size-confirm-but
    height: calc($size-confirm-but / 2)
    background-color: $color-but
    // background-color: #016d11
    &:hover, &:focus
        transform: translateX(3px)
        background-color: $color-but-act
        // background-color: #047815
    i
        font-size: 0.8rem
        color: $color-backgr
        
        