@import '../../../../_AuthPage/AuthPage_variables'


.inputs_cleaner-but
    //border: 2px solid orange
    position: absolute
    right: -1.5rem
    z-index: 3
    transform: scale(0.8) + translateX(-0.5rem)
    opacity: 0
    pointer-events: none
    .tool_tip-cont
        .tool_tip
            width: 4rem
            left: calc(50% - 2rem)
    &.opened
        transform: scale(1) + translateX(0)
        opacity: 1
        pointer-events: auto
