$backgr-color: #fffffff4

#buts-cont
    // border: 2px solid red
    margin-top: 1.2rem
    margin-bottom: 0.5rem
    flex-direction: row
    justify-content: space-between
    height: auto
    $but-size: 1.9rem
    width: $but-size*2.6
    overflow: visible
    button
        width: $but-size
        height: $but-size
        border-radius: 50%
        background-color: #173971e8
        // border: 1px solid #173971e8
        &:hover, &:focus
            background-color: #173a71
        label
            transition-duration: 0.2s
            position: absolute
            opacity: 0
        i
            // color: #173971e8
            color: $backgr-color
            // pointer-events: auto
            &:hover ~ label
                opacity: 1
    #info-but
        font-size: calc($but-size - 1.05rem)
        i
            margin-top: -0.12rem
    #pwa-but
        font-size: calc($but-size - 1.2rem)
        i
            margin-top: 0.1rem