$backgr-color: #fffffff4

#buts-cont
    // border: 2px solid red
    margin-top: 1.2rem
    margin-bottom: 0.5rem
    flex-direction: row
    justify-content: space-between
    height: auto
    $but-size: 1.9rem
    width: $but-size * 2.6
    overflow: visible
    button
        width: $but-size
        height: $but-size
        border-radius: 50%
        // background-color: #173971e8
        background-color: #173971e8
        // $but-color: #142733d9
        // border: 1px solid $but-color
        &:hover, &:focus
            background-color: #173a71
            // background-color: #173a71
        i
            color: $backgr-color
            // color: $but-color
            // pointer-events: auto
    #info-but
        i
            font-size: $but-size - 1.05rem
            margin-top: -0.12rem
    #pwa-but
        i
            font-size: $but-size - 1.2rem
            margin-top: 0.1rem