@import '../LoginPanel_variables'



.buts-cont
    // border: 2px solid red
    flex-direction: row
    justify-content: space-between
    height: auto
    width: $size-small-but * 2.6
    overflow: visible
    button
        width: $size-small-but
        height: $size-small-but
        border-radius: 50%
        // background-color: $color-but
        border: 1px solid $color-but
        &:hover
            border: 1px solid $color-but-act
            i
                color: $color-but-act
        i
            // color: $color-backgr
            color: $color-but
    .pwa-but
        i
            font-size: $size-small-but - 1.05rem
            margin-top: 0.1rem
    .info-but
        i
            font-size: $size-small-but - 0.95rem
            margin-top: -0.12rem