



#sign_in-form
    // border: 2px solid red
    #checkbox-cont
        overflow: visible
        // border: 2px solid red
        z-index: 2
        width: auto
        height: auto
        height: 1rem
        flex-direction: row
        &:hover
            span
                color: $color-main-text-act
        span
            color: $color-main-text
            margin-left: 0.4rem
            font-size: $size-main-text
            cursor: pointer
    .fa-icon
        font-size: 1.05rem
    