@import '@/variables'


.date_time-cont
    //border: 1px solid red
    height: auto
    width: auto
    color: $color-backgr
    overflow: visible
    align-items: flex-end
    h1
        margin-bottom: 7px
        margin-right: -2px
        font-weight: 700