@import '@/variables'


.password_input-cont
    // border: 2px solid red
    input
        padding-right: $padding-x-field-input + 0.2rem !important
    .caps_lock-cont
        // border: 2px solid orange
        width: auto
        overflow: visible
        z-index: 3
        position: absolute
        left: -1.6rem
        transition: all 0.2s ease
        transform: scale(0.9) + translateX(0.5rem)
        opacity: 0
        pointer-events: none
        &.opened
            transform: scale(1) + translateX(0)
            opacity: 1
            pointer-events: auto
        span
            font-family: 'Noto Sans Display', serif
            color: $color-icon
            letter-spacing: -2px
            font-size: 0.7rem
            pointer-events: none
        .tool_tip-cont
            .tool_tip
                left: calc(50% - 1.5rem)
                width: 5rem
                transform: translate(-0.5rem, 1rem) scale(0.5)
                &.active
                    transform: translate(0) scale(1)
    .extra_input_field-but
        //border: 2px solid black
        .tool_tip-cont
            .tool_tip
                left: calc(50% - 2.2rem)
                width: 4.4rem
