@import '../../../../variables'



$icon-size: 1.4rem
.hourly_weather_el-cont
    //border: 1px solid yellow
    width: auto
    height: auto
    color: $color-backgr
    overflow: visible
    .hourly_weather_el-temp
        //border: 1px solid red
        //text-align: center
        font-weight: 600
        font-size: $size-main-text + 0.05rem
        margin-left: 0.2rem
    .hourly_weather_el-icon
        //border: 1px solid yellow
        width: $icon-size
        height: $icon-size
        margin: 0.1rem 0
    .hourly_weather_el-time
        font-size: $size-main-text - 0.1rem