@import '../../../AuthPage_variables'



#signs-cont
    .sign-cont
        #sign_up_info-form
            //border: 2px solid orange
            .avatar_and_submit_buts-cont
                //border: 2px solid green
                height: auto
                flex-direction: row
                justify-content: space-around
                overflow: visible
                .submit-but
                    width: calc($size-confirm-but / 1.7)
                    height: calc($size-confirm-but / 1.7)
                    border-radius: 50%
                    .confirm_but_bg-cont
                        border-radius: 50%
                    .fa-icon
                        // margin-right: -0.1rem
                        font-size: 1.05rem