@import '../AuthPage_variables'



.submit-but
    // .confirm_but_bg-cont
    //     position: absolute
    //     border-radius: $rad-but-border
    //     transition-duration: 0.2s
    //     .confirm_but_bg-img
    //         background-size: cover
    //         opacity: 0.1
    //         pointer-events: none
    // border: 2px solid red
    border-radius: $rad-but-border
    width: $size-confirm-but
    height: calc($size-confirm-but / 2)
    background-color: $color-confirm-but
    // background-color: #016d11
    overflow: visible
    z-index: 2
    position: relative
    &:hover
        transform: translateX(-$height-but-act-jump * 1.5)
        background-color: $color-confirm-but-act
    &:active
        transform: translateX(-$height-but-act-jump * 4)
    &:disabled
        border: 1px solid $color-but-border
        background-color: $color-backgr
        pointer-events: none
        background-color: color
        .fa-icon
            color: $color-but-icon
        .confirm_but_bg-cont
            opacity: 0
        // background-color: #173b7594
        // opacity: 0
    .fa-icon
        margin-top: -0.07rem
        color: $color-backgr
        
        