@import '../../../_variables'

$height-short-horoscope-card: 130px
$width-full-horoscope-card: 28rem
.horoscope_card-frame
    //border: 1px solid yellow
    overflow: visible
    border-radius: $rad-main-border
    height: $height-short-horoscope-card
    max-height: 15%
    .unfolding-card
        border: 1px solid rgba($color-backgr, 0.3)
        color: $color-backgr
        flex-direction: row
        min-height: $height-short-horoscope-card
        max-height: none
        top: auto
        bottom: 0
        justify-content: space-between
        //transition-property: all
        //transition-duration: $dur-unfolding-card * 2
        //transition-timing-function: ease-out
        .horoscope_icon-cont
            //border: solid 1px green
            width: auto
            .fa-icon
                font-size: 2.5rem
                color: $color-backgr
                stroke-width: 1.1
        .horoscope_info-frame
            //border: solid 1px red
            margin: 0 0.5rem
            flex-shrink: 1
            .horoscope_info
                //border: solid 1px brown
                pointer-events: none
                align-items: flex-start
                h2
                    transition: margin-bottom $dur-unfolding-card $dur-unfolding-card * 0.5 ease
                    margin-bottom: 0.25rem
                .horoscope-message
                    //border: solid 1px green
                    .horoscope_info-short
                        position: absolute
                        bottom: 0
                        font-size: $size-main-text - 0.1rem
                        font-weight: 400
                        max-width: 8rem
                        will-change: transform
                        transition-property: opacity, transform
                        transition-duration: $dur-unfolding-card * 2
                        transition-delay: $dur-unfolding-card * 1.75
                    .horoscope_info-full
                        //text-indent: 20px
                        font-size: $size-main-text + 0.07rem
                        line-height: $size-main-text + 0.2rem
                        width: $width-full-horoscope-card - 8.5rem
                        transition-property: max-height, opacity
                        transition-duration: $dur-unfolding-card * 1.75, $dur-unfolding-card * 1.25
                        transition-timing-function: ease-out
                        max-height: calc($height-short-horoscope-card - $padding-card * 2 - 1.5rem)
                        opacity: 0
            .horoscope-spinner
                //border: solid 1px green
                margin-left: -1rem
        .horoscope_link-cont
            //border: solid 1px blue
            width: auto
        .unfolding_card-only_full
            min-width: 10rem
        &.full
            width: $width-full-horoscope-card
            max-height: none
            .horoscope_info-frame
                .horoscope_info
                    h2
                        margin-bottom: 0.7rem
                    .horoscope-message
                        .horoscope_info-short
                            transition-property: opacity, transform
                            transition-duration: $dur-unfolding-card * 0.5
                            transition-delay: 0s
                            opacity: 0
                            transform: translateY(-2rem)
                        .horoscope_info-full
                            transition-property: max-height, opacity
                            transition-duration: $dur-unfolding-card * 5, $dur-unfolding-card * 3.5
                            transition-delay: 0s, $dur-unfolding-card * 0.75
                            transition-timing-function: ease-out
                            max-height: 40rem
                            opacity: 1
