@import './NavBarCard/NavBarCard'
@import './NotificationCard/NotificationCard'


.card
    background-color: $color-cards-background
    border-radius: 25px
    box-shadow: 2px 10px 30px #00000027
    padding: 0.7rem
    transition: all 0.3s ease