@import '../../LoginPanel_variables'    



.inputs_cleaner-but
    // border: 2px solid orange
    position: absolute
    // right: -1.8rem
    right: -1.5rem
    width: $size-float-but
    height: $size-float-but
    overflow: visible
    border-radius: 50%
    z-index: 3
    transform: scale(0.8) + translateX(-0.5rem)
    opacity: 0
    pointer-events: none
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        border-radius: 50%
        background-color: #cbcbcb4e
        transition-duration: 0.18s
        z-index: -1
        transform: scale(0)
    &:hover
        &::after
            transform: scale(1)
    &:active
        .fa-icon
            transform: scale(0.7)
    &.opened
        transform: scale(1) + translateX(0)
        opacity: 1
        pointer-events: auto
    .fa-icon
        // border: 2px solid red
        transition-duration: 0.2s
        width: $size-float-but - 0.72rem
        font-size: 1.5rem
    .tool_tip-cont
        .tool_tip
            left: calc(50% - 2rem)
            width: 4rem
