@import '../../../../../../variables'



.user_info_edit_card_submit-but
    border: 2px solid $color-backgr
    $size-submit-but: 4rem
    width: $size-submit-but !important
    height: $size-submit-but !important
    background-color: $color-blue-main
    border-radius: $rad-white-card-border
    margin-left: $margin-white-card
    will-change: transform
    .fa-icon
        font-size: 1.8rem !important
        color: $color-backgr
    &:hover
        transform: scale(1.05)
    &:focus
        background-color: $color-confirm-but-act
    &:active
        .fa-icon
            filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.7))