@import '@/variables'


.jumping_card_cover-cont
    //border: 5px solid green
    $rad-list: 120px
    $scale-card: 0.6
    $before-margin: 1.5rem
    $before-width: 6rem
    z-index: 15
    pointer-events: none
    .jumping_card-cont
        //border: 2px solid black
        position: absolute
        left: 50%
        bottom: 0
        width: auto
        height: auto
        background-color: $color-backgr
        box-shadow: 2px 10px 30px #00000040
        overflow: visible
        transition: all calc($dur-jumping-card * 1.33) ease
        border-radius: $rad-list * 2
        transform: translateX(-50%) translateY(100%) scale($scale-card)
        opacity: 0
        pointer-events: none
        &::before
            content: ''
            position: absolute
            top: - $before-margin
            width: $before-width
            height: 0.2rem
            background-color: rgba($color-backgr, 0.4)
            border-radius: 10px
            pointer-events: none
            transition: all 0 0.1s $dur-jumping-card ease
            opacity: 0
            transform: translateY(14rem)
    .jumping_card-cover
        //border: 2px solid red
        width: 100%
        height: 100%
        z-index: -5
        background-color: rgba(0, 0, 0, 0.55)
        transition: all $dur-jumping-card * 1.25 ease
        opacity: 0
        backdrop-filter: blur(0)
        -webkit-backdrop-filter: blur(0)
        pointer-events: none
    &.top
        .jumping_card-cont
            bottom: auto
            top: 0
            transform: translateX(-50%) translateY(-100%) scale($scale-card)
            &::before
                top: auto
                bottom: - $before-margin
                transform: translateY(-14rem)
    &.left
        .jumping_card-cont
            bottom: 50%
            left: 0
            //height: 100%
            //width: 90%
            transform: translateX(-100%) translateY(50%) scale($scale-card)
            &::before
                top: auto
                right: - $before-margin
                width: 0.2rem
                height: $before-width
                transform: translateX(-14rem)
    &.right
        .jumping_card-cont
            bottom: 50%
            left: auto
            right: 0
            //height: 100%
            //width: 90%
            transform: translateX(100%) translateY(50%) scale($scale-card)
            &::before
                top: auto
                left: - $before-margin
                width: 0.2rem
                height: $before-width
                transform: translateX(14rem)
    &.opened
        pointer-events: auto
        .jumping_card-cont
            transition: all calc($dur-jumping-card * 1.33) ease, opacity calc($dur-jumping-card * 0.7) ease
            border-radius: $rad-list $rad-list 0 0
            transform: translateX(-50%)
            opacity: 1
            pointer-events: auto
            &::before
                transition: all calc($dur-jumping-card * 1.7) calc($dur-jumping-card * 0.7) $trans-bounce-style
                opacity: 1
                transform: none
        .jumping_card-cover
            pointer-events: auto
            opacity: 1
            backdrop-filter: blur(10px)
            -webkit-backdrop-filter: blur(10px)
        &.top
            .jumping_card-cont
                border-radius: 0 0 $rad-list $rad-list
        &.left
            .jumping_card-cont
                border-radius: 0 $rad-list $rad-list 0
                transform: translateY(50%)
        &.right
            .jumping_card-cont
                border-radius: $rad-list 0 0 $rad-list
                transform: translateY(50%)
