@import '../../LoginPanel_variables'



#sign_up_2-cont
    overflow: visible
    .enter_text-cont
        // border: 1px solid red
        // justify-content: flex-end
        margin-left: 2rem
        // margin-right: 2rem
        margin-bottom: 0.5rem
        h1
            // border: 2px solid orange
            font-size: $size-h1 - 1rem
            // text-align: center

