@import '../../LoginPanel_variables'



.input_error-cont
    // border: 2px solid black
    position: absolute
    bottom: -$size-main-text + 0.1rem
    height: auto
    width: 130%
    transition: all 0.3s ease
    transform: translateX(1rem)
    pointer-events: none
    opacity: 0
    // margin-right: -1rem
    &.opened
        transform: translateX(0)
        pointer-events: auto
        opacity: 1
    &.off
        display: none
    span
        // border: 2px solid black
        color: #c12d00
        font-size: $size-main-text - 0.2rem
