@import '@/variables'


.phone_input-cont
    input
        padding-left: calc($padding-x-field-input * 2) !important
    .phone_mask
        //border: 1px solid black
        position: absolute
        left: $padding-x-field-input
        color: $color-main-text-act
        z-index: 3
        pointer-events: none