@import '../Cards_variables'



.nav_bar_card-cont
    .card_label-cont
        // border: 2px solid red
        margin-bottom: 0.7rem
        .little_logo-img
            margin-top: 0.12rem
            margin-right: 0.3rem
            width: 2rem
        .little_logo-name
            text-align: start
            line-height: $size-main-text + 0.2rem
            font-weight: 600
            font-size: 1rem
        &::after
            display: none
    .card_content-cont
        .views_list-cont
            overflow: visible
            flex-shrink: 1
            // border: 2px solid green
            justify-content: flex-start
            // align-items: flex-start
            // overflow: visible
            a
                // border: 1px solid orange
                width: $width-first-column - 0.6rem
                height: auto
                padding: 0.3rem 0.5rem
                border-radius: 12px
                cursor: pointer
                overflow: visible
                &:hover
                    background-color: #a1a5b123
                    .nav_bar__inner-cont
                        transform: translateX(0.2rem) + scale(1.02)
                        color: $color-main-text-act
                        .fa-icon
                            color: $color-main-text-act
                        // span
                        //     font-weight: 700
                &:active
                    .nav_bar__inner-cont
                        transform: translateX(0.2rem) + scale(0.97)
                .nav_bar__inner-cont
                    // border: 1px solid red
                    flex-direction: row
                    justify-content: flex-start
                    overflow: visible
                    pointer-events: none
                    transition: all 0.15s ease
                    .fa-icon
                        margin-top: -0.1rem
                        margin-right: 0.4rem
                        font-size: 0.9rem
                        color: $color-main-text
                    span
                        // border: 2px solid black
                        align-items: flex-start
                        flex-shrink: 1
                        font-weight: 600
        .buts-cont
            // border: 1px solid black
            $but-top-margin-top: 1rem
            margin-top: $but-top-margin-top
            justify-content: space-around
            width: 90%
            &::before
                content: ''
                position: absolute
                top: - calc($but-top-margin-top / 1.7)
                height: 1px
                width: 50%
                background-color: $color-after-element
