


.app_title-cont
    //border: 2px solid orange
    position: relative
    display: flex
    font-family: "Righteous"
    z-index: 100
    pointer-events: none
    color: $color-backgr
    $size-app-title: 0.95rem
    .app_title_name
        font-size: $size-app-title
    .tool_tip
        // border: 2px solid orange
        font-family: "Nunito"
        background: red
        background-color: none