@import '@/variables'


.app_title-cont
    //border: 2px solid orange
    position: relative
    display: flex
    font-family: "Righteous", serif
    z-index: 100
    pointer-events: none
    color: $color-backgr
    $size-app-title: 0.95rem
    .app_title-name
        font-size: $size-app-title