@import './Inputs/Inputs'
@import './Inputs/InputsCleaner/InputsCleaner'
@import './Inputs/InputsError/InputsError'
@import './Inputs/UserNameInput/UserNameInput'
@import './Inputs/PasswordInput/PasswordInput'
@import './SignConts/SignInCont/SignInForm/CheckBox/CheckBox'
@import './Inputs/StoresInput/StoresInput'
@import './Inputs/JobsInput/JobsInput'
@import './SignConts/SignConts'
@import './SignConts/SignInCont/SignInCont'
@import './SignConts/SignUpCont/SignUpCont'
@import './SignConts/SignUpSecondCont/SignUpSecondCont'
@import './SignConts/SignInCont/SignInForm/SignInForm'
@import './SignConts/SignUpCont/SignUpForm/SignUpForm'
@import './SignConts/SignUpSecondCont/SignUpSecondForm/SignUpSecondForm'
@import './SubmitBut/SubmitBut'
@import './CoverPanel/CoverPanel'



#login_panel-cont
    // border: 2px solid orange
    margin-top: -1rem
    height: auto
    width: 800px
    // width: 80%
    // max-width: 800px
    // min-width: 350px
    border-radius: 60px
    box-shadow: 2px 10px 30px #00000040
    #signs-cont
        // border: 2px solid orange
        padding: 1.5rem 0.5rem
        // padding: 1.5rem
        flex-direction: row
        background-color: $color-backgr



// @media ( max-width: 900px )
//     #login_panel-cont
//         // margin-top: 0
//         // padding-top: 1.2rem
//         // border-radius: 40px
//         #signs-cont
//             flex-direction: column
//             border: 2px solid orange
//             section
//                 width: 100%
//                 .enter_text-cont
//                     width: 100%
//                     i
//                         font-size: 2rem
//                     h1
//                         font-size: 1.2rem
//             #sign_up-cont
//                 // display: none
//         #cover_and_img-cont
//             // display: none
//             top: 0
//             #cover-cont
//                 width: auto
//                 height: 50%