@import '../../_variables'


$color-confirm-but: #173b75e0
$color-confirm-but-act: #1b407c
$color-cover-gradient: #6a8ab0

$color-input: #000

$height-input: 1.5rem
$width-input: 10.5rem

$size-confirm-but: 4.7rem

$padding-x-input: 47px

//*CoverPanel
$rad-but-border: 25px
// $rad-up-cover-panel: 200px
// $rad-down-cover-panel: 350px
$rad-up-cover-panel: 150px
$rad-down-cover-panel: 300px

//*CoverPanel toggle
$trans-dur: 0.4s
$trans-style: ease-in-out
$trans-bounce-style: cubic-bezier(.36,1.48,.3,.83)
// $trans-wave-bounce-style: cubic-bezier(.55,-0.25,.39,1.23)
$trans-content-scale: 0.35
$trans-content-X: 70%