@import  '../LoginPage_variables'


.name_tag
    // border: 2px solid red
    position: relative
    color: $color-main-text
    font-family: "Nunito"
    font-weight: 400
    font-size: 0.7rem
    .tool_tip
        left: calc(50% - 4.5rem)
        width: 9rem