@import '../AuthPage_variables'


#signs-cont
    .sign-cont
        //border: 2px solid black
        width: 50%
        .form
            //border: 2px solid yellow
            width: auto
            height: auto
            overflow: visible
            .inputs-cont
                //border: 2px solid red
                overflow: visible
                height: auto
                margin-bottom: 1.3rem
                .fa-icon
                    font-size: 0.8rem
                .input_field-cont
                    //border: 2px solid yellow
                    margin-top: 0.3rem
        .name_tag
            //border: 2px solid red
            margin-top: 1.4rem


    // * CoverPanel toggle
    .sign-cont
        will-change: trasnform
        transition: transform $dur-cover-panel + 0.2s $trans-style, opacity $dur-cover-panel $trans-style
        opacity: 0
        pointer-events: none
        overflow: visible
        visibility: hidden
        &.active
            visibility: visible
            transition: all $dur-cover-panel + 0.2s $trans-style
            opacity: 1
            pointer-events: auto
            transform: none !important
    #sign_in-cont
        transform: translateX($trans-content-X) scale(1 - $trans-content-scale)
    #sign_up-cont
        transform: translateX(-$trans-content-X) scale(1 - $trans-content-scale)
    #sign_up_info-cont
        position: absolute
        left: 1rem
        transform: translateX(-$trans-content-X) scale(1 - $trans-content-scale)