@import '../../components/_AuthPage/AuthPage_imports'



.app_title-cont
    position: absolute
    top: 1rem
    left: 1rem
    opacity: 0.7
.log_book-button
    position: absolute
    top: 0.6rem
    right: 0.7rem
    .fa-icon
        color: #ffffff28
#auth_panel-cont
    // border: 2px solid orange
    margin-top: -1rem
    height: auto
    width: 840px
    // width: 80%
    // max-width: 800px
    // min-width: 350px
    border-radius: 60px
    box-shadow: 2px 10px 30px #00000040
    // flex-shrink: 0
    &.block
        filter: blur(20px)
        -webkit-filter: blur(20px)
        pointer-events: none
        #signs-cont
            pointer-events: none
    #signs-cont
        // border: 2px solid orange
        padding: 1.5rem 0.5rem
        // padding: 1.5rem
        flex-direction: row
        background-color: $color-backgr



// @media ( max-width: 900px )
//     #auth_panel-cont
//         // margin-top: 0
//         // padding-top: 1.2rem
//         // border-radius: 40px
//         #signs-cont
//             flex-direction: column
//             border: 2px solid orange
//             section
//                 width: 100%
//                 .enter_text-cont
//                     width: 100%
//                     i
//                         font-size: 2rem
//                     h1
//                         font-size: 1.2rem
//             #sign_up-cont
//                 // display: none
//         #cover_and_img-cont
//             // display: none
//             top: 0
//             #cover-cont
//                 width: auto
//                 height: 50%