@import '../../variables'



.auth_page-header
    //border: 2px solid orange
    position: absolute
    top: 0
    height: $size-round-but
    overflow: visible
    .app_title-cont
        position: absolute
        top: 1rem
        left: 1rem
        // opacity: 0.7
        opacity: 0.27
    .log_book-but
        position: absolute
        top: 0.6rem
        right: 0.7rem
        .fa-icon
            margin-top: -0.1rem
            font-size: $size-round-but - 0.8rem
            color: #ffffff28
#auth_page-cont
    //border: 2px solid red
    margin-top: -1rem
    height: auto
    width: 840px
    border-radius: calc($rad-main-border + 45px)
    box-shadow: 2px 10px 30px #00000040
    transition: all 0.5s ease
    background-color: $color-backgr
    #signs-cont
        //border: 2px solid orange
        padding: 1.5rem 0.5rem
        flex-direction: row
    &.block
        filter: blur(10px)
        -webkit-filter: blur(10px)
        pointer-events: none
        z-index: -1
        //section
        //    pointer-events: none




// @media ( max-width: 900px )
//     #auth_page-cont
//         // margin-top: 0
//         // padding-top: 1.2rem
//         // border-radius: 40px
//         #signs-cont
//             flex-direction: column
//             border: 2px solid orange
//             section
//                 width: 100%
//                 .enter_text-cont
//                     width: 100%
//                     i
//                         font-size: 2rem
//                     h1
//                         font-size: 1.2rem
//             #sign_up-cont
//                 // display: none
//         #cover_and_img-cont
//             // display: none
//             top: 0
//             #cover-cont
//                 width: auto
//                 height: 50%