@import '@/variables'


.unfolding-card
    //border: 2px solid red
    overflow: visible
    position: absolute
    top: 0
    right: 0
    z-index: 10
    height: auto
    transition-property: all, max-height, border-radius
    transition-duration: $dur-unfolding-card * 1.5, $dur-unfolding-card * 1.8, $dur-unfolding-card
    transition-timing-function: ease-out
    max-height: 0
    .unfolding_card-only_full
        min-width: 10rem
        transition: all $dur-unfolding-card * 1.2 ease, opacity $dur-unfolding-card * 0.5
        opacity: 0
        pointer-events: none
        transform: translateY(3rem)
    &.full
        backdrop-filter: blur(15px)
        background-color: rgba(0, 0, 0, 0.01)
        //! Change?
        -webkit-backdrop-filter: blur(15px)
        border-radius: $rad-main-border * 2
        box-shadow: $shadow-card
        padding: $padding-card * 2 !important
        max-height: 40rem !important
        .unfolding_card-only_full
            transition: all $dur-unfolding-card * 1.2 $dur-unfolding-card * 0.75 ease
            overflow: visible
            opacity: 1
            pointer-events: auto
            transform: none
