@import '../../../../variables'



$icon-size: 1.4rem
.hourly_weather_slider-cont
    //border: 2px solid yellow
    height: auto
    margin: 1rem 0
    flex-direction: row
    overflow: visible
    button
        position: absolute
        $arrow-position: 1.75rem
        &::after
            width: $size-round-but - 0.8rem
            height: $size-round-but - 0.8rem
        &:disabled
            pointer-events: none
            opacity: 0.3
        .fa-icon
            color: rgba($color-backgr, 0.3)
            font-size: $size-main-text
        &.left
            left: -$arrow-position
            .fa-icon
                left: -1rem
        &.right
            right: -$arrow-position
            .fa-icon
                right: -1rem
    .hourly_weather-slider
        //border: 2px solid red
        .hourly_weather_list-cont
            transition: transform 0.45s ease-out
            flex-direction: row
            justify-content: space-between
            width: 200%
            transform: translateX(25%)
            .hourly_weather_el-cont
                //border: 1px solid yellow
                width: auto
                height: auto
                color: $color-backgr
                overflow: visible
                .hourly_weather_el-temp
                    //border: 1px solid red
                    //text-align: center
                    font-weight: 600
                    font-size: $size-main-text + 0.05rem
                    margin-left: 0.2rem
                .hourly_weather_el-icon
                    //border: 1px solid yellow
                    width: $icon-size
                    height: $icon-size
                    margin: 0.1rem 0
                .hourly_weather_el-time
                    font-size: $size-main-text - 0.1rem
        &.second_list
            .hourly_weather_list-cont
                transform: translateX(-25%)
