@import '../../../../variables'



$icon-size: 1.4rem
.hourly_weather_slider-cont
    //border: 2px solid yellow
    height: auto
    flex-direction: row
    overflow: visible
    z-index: 12
    button
        position: absolute
        $arrow-position: 1.75rem
        &::after
            width: $size-round-but - 0.8rem
            height: $size-round-but - 0.8rem
        &:disabled
            opacity: 0.4
            pointer-events: none
        .fa-icon
            color: rgba($color-backgr, 0.3)
            font-size: $size-main-text
        &.left
            left: -$arrow-position
            .fa-icon
                left: -1rem
        &.right
            right: -$arrow-position
            .fa-icon
                right: -1rem
    .hourly_weather_list-cont
        //border: 2px solid black
        transition: transform 0.35s ease-out
        flex-direction: row
        justify-content: space-between
        width: 100%
        height: auto
        cursor: w-resize
        overflow-x: scroll
        scroll-behavior: smooth
        scrollbar-width: none
        scroll-snap-type: x mandatory
        -ms-overflow-style: none
        &::-webkit-scrollbar
            display: none
        .hourly_weather_el-cont
            //border: 1px solid yellow
            width: auto
            height: auto
            overflow: visible
            margin: 0 0.34rem
            &:first-child, &:last-child
                margin: 0
            .hourly_weather_el-temp
                //border: 1px solid red
                //text-align: center
                font-weight: 600
                font-size: $size-main-text + 0.05rem
                margin-left: 0.2rem
                color: rgba($color-backgr, 0.9)
            .hourly_weather_el-icon
                //border: 1px solid yellow
                width: $icon-size
                height: $icon-size
                margin: 0.2rem 0
            .hourly_weather_el-time
                font-size: $size-main-text - 0.1rem
                color: rgba($color-backgr, 0.8)
