@import '../../../../../../../variables'



.user_info_edit_card_status-but
    $size-status-but: 3.5rem
    width: $size-status-but !important
    height: $size-status-but !important
    pointer-events: none
    .switch_status-elem
        $switch-dur: 0.2s
        //border: 2px solid red
        position: absolute
        width: 100%
        height: $size-status-but
        will-change: transform
        transition: all $switch-dur ease
        transform: scale(0.5)
        opacity: 0
        &.active
            transition: all $switch-dur $switch-dur / 1.5 ease
            transform: none
            opacity: 1
        .fa-icon
            color: $color-backgr
    .undo-cont
        .fa-icon
            margin-top: -2px
            font-size: 1.3rem
    .ok-cont
        .fa-icon
            font-size: 1.8rem
    &.undo
        pointer-events: auto
        &:hover

            transform: scale(1.1)