//Design

$backgr-color: #fffffff4
$but-color: #173b75e0
$but-act-color: #123264
$place-holder-color: #737373

$main-text-color: #142733d9
$main-text-act-color: #020931f1

$input-place-holder-padding: 42px
$input-height: 1.7rem
$input-width: 10rem


$small-but-size: 1.9rem
$confirm-but-size: 4.5rem
$h1-size: 1.4rem
$main-text-size: 0.7rem

$but-border-rad: 25px


//CoverPanel toggle

$trans-dur: 0.5s
$trans-style: ease-in-out
$trans-content-scale: 0.35
$trans-content-X: 70%

$up-rad: 150px
$down-rad: 100px