
#login_panel-cont
    // border: 2px solid orange
    margin-top: -1rem
    height: auto
    // max-height: 600px
    width: 80%
    // width: auto
    max-width: 800px
    min-width: 350px
    $backgr-color: #fffffff4
    background-color: $backgr-color
    border-radius: 60px
    box-shadow: 5px 10px 30px #00000040
    padding: 1.5rem
    flex-direction: row
    justify-content: space-between
    #sign_in-form
        // border: 2px solid black
        // width: 50%
        #enter_text-cont
            // border: 2px solid yellow
            flex-direction: row
            height: auto
            margin-left: 0.3rem
            i
                color: #030e3cc1
                font-size: 2.4rem
                margin-right: 0.7rem
            h1
                color: #030e3c
                font-family: "Nunito"
                font-weight: 600
                font-size: 1.4rem
                // text-align: start
        #buts-cont
            // border: 2px solid red
            margin-top: 1.2rem
            margin-bottom: 0.5rem
            flex-direction: row
            justify-content: space-between
            height: auto
            $but-size: 1.9rem
            width: $but-size*2.6
            overflow: visible
            button
                width: $but-size
                height: $but-size
                border-radius: 50%
                background-color: #173971e8
                // border: 1px solid #173971e8
                &:hover, &:focus
                    background-color: #173a71
                label
                    transition-duration: 0.2s
                    position: absolute
                    opacity: 0
                i
                    // color: #173971e8
                    color: $backgr-color
                    // pointer-events: auto
                    &:hover ~ label
                        opacity: 1
            #info-but
                font-size: calc($but-size - 1.05rem)
                i
                    margin-top: -0.12rem
            #pwa-but
                font-size: calc($but-size - 1.2rem)
                i
                    margin-top: 0.1rem
        .input-cont
            width: 10rem
            height: 1.7rem
            margin-top: 0.3rem
            input
                width: 100%
                height: 100%
                padding: 7px 42px
                font-size: 0.7rem
                border-bottom: 1px solid #1a3e3f7c
                transition-duration: 0.3s
                text-transform: lowercase
                background-color: transparent
                &:hover, &:focus
                    border-color: #000a3ee8
                &:focus ~ .info-icon
                    color: #000a3ee8
            .info-icon
                position: absolute
                left: 0.5rem
                font-size: 0.6rem
                color: #1a303fc6
                transition-duration: 0.5s
                color: #142733d9
        #checkbox-cont
            // border: 2px solid red
            width: auto
            height: auto
            height: 1rem
            margin-top: 0.8rem
            flex-direction: row
            // pointer-events: none
            // input
            //     background-color: black
            //     cursor: pointer
            span
                margin-left: 0.4rem
                font-size: 0.7rem
                cursor: pointer
        #submit-but
            // border: 2px solid red
            border-radius: 25px
            margin-top: 0.9rem
            margin-bottom: 1.4rem
            width: 4.5rem
            height: 2.2rem
            background-color: #016d11
            font-size: 0.8rem
            color: $backgr-color
            &:hover, &:focus
                background-color: #047815
        #name_tag
            // border: 2px solid red
            font-family: "Nunito"
            font-weight: 400
            font-size: 0.7rem


@media ( max-width: 900px )
    #log-cont
        margin-top: 0
        padding-top: 1.2rem
        border-radius: 40px
        #sign_in-form
            width: 100%
            #enter_text-cont
                width: 100%
                i
                    font-size: 2rem
                h1
                    font-size: 1.2rem

