@import '../../_variables'


$color-confirm-but: #173b75e0
$color-confirm-but-act: #123264
$color-cover-gradient: #5e7ea6

$color-input: #000

$height-input: 1.5rem
$width-input: 10.5rem

$size-confirm-but: 4.7rem


//CoverPanel toggle
$trans-dur: 0.5s
$trans-style: ease-in-out
$trans-content-scale: 0.35
$trans-content-X: 70%

$rad-up-cover-panel: 150px
$rad-down-cover-panel: 300px