@import './components/LoginPanel/LoginPanel_variables'



input
    transition: all 0.2s ease
    color: $color-input
    &::placeholder
        color: $color-place-holder
        text-transform: capitalize

button
    transition: all 0.2s ease
    // &:hover, &:focus
    &:hover
        transform: translateY(-1.2px)
    &:active
        transition: all 0.1s ease
        transform: scale(0.95)

i, .fa-icon
    pointer-events: none

.cont
    width: 100%
    height: 100%
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overscroll-behavior: contain
    flex-shrink: 0

// *
//     border: 1px solid
