$size-h1: 1.41rem
$size-main-text: 0.7rem

$color-but: #444444f1
$color-but-act: #323f57

$color-confirm-but: #173b75e0
$color-confirm-but-act: #123264

$color-main-text: #142733d9
$color-main-text-act: #020931f1

$color-backgr: #f8fdff
$color-place-holder: #737373

$color-after-element: #090d421c

$rad-but-border: 25px
$size-small-but: 1.7rem
