@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap")
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap')
@import './reset'
@import './common'
@import './components/LoginPanel/LoginPanel'


#main_body-cont
    color: #1a3e3f
    font-family: "Nunito"
    background: radial-gradient(circle, #6281a7, #1a293f)