@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap")
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap')
@import './reset'
@import './common'

.main-body
    color: #1a3e3f
    font-family: "Nunito"
    background: radial-gradient(circle, #6281a7, #1a293f)
    // Selecting ban
    -moz-user-select: none
    -o-user-select:none
    -khtml-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none