@import '../../../variables'



.tool_tip-cont
    // border: 2px solid red
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 50%
    z-index: 15
    .tool_tip
        // border: 2px solid black
        pointer-events: none
        position: absolute
        text-align: center
        width: 6rem
        // min-width: 5rem
        // max-width: 8rem
        height: auto
        background-color: #579377
        // background: linear-gradient(70deg, #4c8278 0%, #4f8d7c 40%, #679d77 100%)
        color: $color-backgr
        font-size: $size-main-text
        font-weight: normal
        line-height: $size-main-text
        box-shadow: 2px 2px 10px #00000040
        border-radius: 20px
        padding: 10px
        will-change: transform
        transition: all 0.2s ease
        opacity: 0
        filter: blur(7px)
        -webkit-filter: blur(7px)
        $tooltip-step: 17%
        $tooltip-scale: 0.6
        &.top
            bottom: calc(100% + $tooltip-step)
            left: calc(50% - 3rem)
            transform: translateY(1rem) scale($tooltip-scale)
        &.bottom
            top: calc(100% + $tooltip-step)
            left: calc(50% - 3rem)
            transform: translateY(-1rem) scale($tooltip-scale)
        &.left
            bottom: calc(-50%)
            right: calc(100% + $tooltip-step)
            transform: translateX(2rem) scale($tooltip-scale)
        &.right
            bottom: calc(-50%)
            left: calc(100% + $tooltip-step)
            transform: translateX(-2rem) scale($tooltip-scale)
        &.bottom_left 
            top: calc(100% + $tooltip-step)
            right: 0
            transform: translate(1rem, -1rem) scale($tooltip-scale)
        &.bottom_right
            top: calc(100% + $tooltip-step)
            left: 0
            transform: translate(-1rem, -1rem) scale($tooltip-scale)
        &.top_left
            bottom: calc(100% + $tooltip-step)
            right: 0
            transform: translate(-1rem, -1rem) scale($tooltip-scale)
        &.top_right
            bottom: calc(100% + $tooltip-step)
            left: 0
            transform: translate(-1rem, -1rem) scale($tooltip-scale)
        &.active
            opacity: 1
            transform: none
            filter: none
            -webkit-filter: none
                