@import '../../LoginPanel_variables'



.avatar-cont
    border: 2px solid orange
    width: calc($size-confirm-but / 2)
    height: calc($size-confirm-but / 2)
    border-radius: 50%
    // background-color: #fff
    .avatar-but
        // border: 2px solid black
        border-radius: 50%
        img
            
    .avatar_list-cont
        .avatar-list