


#sign_up_2-form
    // border: 2px solid orange
    overflow: visible
    .inputs-cont
        transition: all 0.4s 0.2s ease
        pointer-events: auto
    .submit-but
        .fa-icon
            font-size: 0.9rem