
#signs-cont
    .sign-cont
        #sign_up_2-form
            // border: 2px solid orange
            .inputs-cont
                .input-cont
                    // border: 2px solid yellow
                    // margin-top: 0.3rem
            .avatar_and_submit_buts-cont
                // border: 2px solid yellow
                flex-direction: row
                justify-content: space-around
                .submit-but
                    width: calc($size-confirm-but / 1.5)
                    height: calc($size-confirm-but / 1.5)
                    border-radius: 50%
                    .fa-icon
                        margin-right: -0.1rem
                        font-size: 0.9rem