@import '../../../../variables'



.round-button
    //border: 1px solid red
    border-radius: 50%
    width: $size-round-but
    height: $size-round-but
    overflow: visible
    .fa-icon
        font-size: 1.3rem
    .tool_tip-cont
        .tool_tip
            &.right
                bottom: calc(-20%)