$backgr-color: #fffffff4

#sign_in-form
    // border: 2px solid red
    height: auto
    #checkbox-cont
        // border: 2px solid red
        width: auto
        height: auto
        height: 1rem
        margin-top: 0.8rem
        flex-direction: row
        // pointer-events: none
        // input
        //     background-color: black
        //     cursor: pointer
        span
            margin-left: 0.4rem
            font-size: 0.7rem
            cursor: pointer
    #submit-but
        // border: 2px solid red
        border-radius: 25px
        margin-top: 0.9rem
        margin-bottom: 1.4rem
        width: 4.5rem
        height: 2.2rem
        background-color: #016d11
        font-size: 0.8rem
        color: $backgr-color
        &:hover, &:focus
            width: 4.8rem
            transform: translateX(3px)
            background-color: #047815