@import '../../../variables'



.log_book-button
    // border: 1px solid red
    border-radius: 50%
    width: calc($size-small-but + 0.3rem)
    height: calc($size-small-but + 0.3rem)
    overflow: visible
    z-index: 2
    &::after
        transition: all 0.18s ease
        opacity: 0
    &:hover
        transform: none
        &::after
            opacity: 1
        .fa-icon    
            color: #ffffffbb
    &:active
        .fa-icon    
            transform: scale(0.7)
    .fa-icon
        margin-top: -0.15rem
        transition: all 0.15s ease-out
        font-size: 1.3rem