@import '../../_variables'



.buts-cont
    // border: 2px solid red
    flex-direction: row
    justify-content: space-between
    height: auto
    width: $size-small-but * 2.6
    overflow: visible
    button
        position: relative
        overflow: visible
        width: $size-small-but
        height: $size-small-but
        border-radius: 50%
        // background-color: $color-but-icon
        border: 1px solid $color-but-border
        // transition: all 0.1s ease
        // border: 1px solid $color-but-icon
        &:hover
            border: 1px solid $color-but-icon
        &:active
            .fa-icon
                transform: scale(0.7)
        .fa-icon
            // border: 2px solid red
            transition-duration: 0.2s
    .pwa-but
        .fa-icon
            font-size: $size-small-but - 0.8rem
            margin-top: 0.18rem
    .info-but
        .fa-icon
            margin-top: 0.12rem
            margin-right: -0.03rem
            font-size: $size-small-but - 0.92rem