@import '../../LoginPanel_variables'



.password_input-cont
    // border: 2px solid red
    .lock-but
        // border: 2px solid black
        z-index: 3
        position: absolute
        right: 0
        top: 0.1px
        opacity: 0
        width: 2rem
        height: 2rem
        border-radius: 50%
        pointer-events: none
        transform: scale(0.7) translateX(5px)
        &:hover, &:focus
            transform: none
            i
                color: $color-but-act
        &.active
            transform: scale(1) translateX(0)
            opacity: 1
            pointer-events: auto
        i
            color: $color-but
            width: 2rem
            font-size: 0.6rem
