@import '../../LoginPanel_variables'



.password_input-cont
    // border: 2px solid red
    .lock-but
        // border: 2px solid black
        z-index: 10
        position: absolute
        right: 0
        // top: 0.1px
        opacity: 0
        width: 2rem
        height: 2rem
        border-radius: 50%
        pointer-events: none
        transform: scale(0.8) translateX(10px)
        &:hover
            transform: none
            .fa-icon
                color: $color-but-act
        &.active
            transform: scale(1) translateX(0)
            opacity: 1
            pointer-events: auto
        .fa-icon
            // border: 2px solid black
            color: $color-but
            height: 0.6rem
            width: 1rem
