@import '../../_variables'



.stores_input-cont
    // border: 2px solid black
    flex-direction: row
    label
        margin-right: 0.5rem 
    #stores_input
        cursor: pointer
        color: $main-text-color
        text-transform: capitalize
