@import '../../_variables'



$color-input: #000
$color-error: #af2900

$height-input: 2rem
$width-input: 11rem

$size-confirm-but: 4.7rem

$padding-x-input: 47px

//*CoverPanel
$rad-but-border: 25px
// $rad-up-cover-panel: 200px
// $rad-down-cover-panel: 350px
$rad-up-cover-panel: 150px
$rad-down-cover-panel: 300px

//*CoverPanel toggle
$trans-dur: 0.35s
$trans-content-scale: 0.35
$trans-content-X: 70%