@import '../../_variables'



//* CoverPanel
$rad-but-border: $rad-main-border
$rad-up-cover-panel: 150px
$rad-down-cover-panel: 300px

//* CoverPanel toggle
$trans-dur: 0.35s
$trans-content-scale: 0.35
$trans-content-X: 70%