@import '@/variables'


//* CoverPanel
$rad-but-border: $rad-main-border
$rad-up-cover-panel: 150px
$rad-down-cover-panel: 300px

//* CoverPanel toggle
$dur-cover-panel: calc(270ms * $dur-factor)
$trans-content-scale: 0.35
$trans-content-X: 70%