@import '../../common'

#log-cont
    // border: 2px solid yellow 
    margin-top: -1rem
    height: auto
    width: 80%
    max-width: 600px
    min-width: 350px
    background-color: #ffffff
    border-radius: 80px
    box-shadow: 5px 10px 30px #00000060
    padding-top: 1.5rem
    padding-bottom: 0.5rem
    #sign-in
        // border: 2px solid black
        h1
            // border: 2px solid yellow
            font-size: 1.7rem
            font-weight: 600
            text-align: center
        #info-but
            margin-top: 1rem
            margin-bottom: 0.5rem
            color: #1a3e3fe8
            font-size: 1.7rem
        input
            text-align: cente
            width: 10rem
            height: 1.7rem
            border: 1px solid #1a3e3f7c
            border-radius: 40px
            margin-top: 0.3rem
            padding: 7px 20px
            font-size: 0.7rem
        #submit-but
            // border: 2px solid red
            border-radius: 30px
            margin-top: 1.3rem
            margin-bottom: 1.7rem
            width: 4.5rem
            height: 2.2rem
            background-color: #1a3e3fe8
            font-size: 0.8rem
            color: white
        #name-tag
            // border: 2px solid yellow
            font-size: 0.7rem
            
@media ( max-width: 500px )
    #log-cont
        padding-top: 1.2rem
        border-radius: 50px
        #sign-in
            h1
                font-size: 1.5rem


