


.app_title-cont
    // border: 2px solid orange
    position: relative
    display: flex
    font-family: "Righteous"
    z-index: 100
    pointer-events: none
    // color: #ffffff57
    background: linear-gradient(70deg, #d4a6dfeb 0%, #7f7fc2 40%, #89d9e9 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-weight: 600
    // text-shadow: 1px 1px 1px #fdfdfd15
    $size-app-title: 0.95rem
    .app_title_name
        font-size: $size-app-title
    .app_title_version
        margin-left: $size-app-title * 0.12
        font-size: $size-app-title * 0.6