@import '../../../variables'



.account_info-card
    height: auto
    flex-direction: row
    justify-content: space-between
    //justify-content: flex-end
    background: none
    overflow: visible