@import '../../../variables'



.account_info-card
    height: auto
    flex-direction: row
    justify-content: space-between
    //justify-content: flex-end
    background: none
    overflow: visible
    .fast_button
        //margin-right: 0.8rem
    .account-but
        //border: 1px solid orange
        width: 71px
        height: 71px
        border-radius: 50%
        position: relative
        &:hover
            .account_img-cont
                border-radius: 40%
        &:active
            transform: scale(0.96)
        .account_img-cont
            overflow: hidden
            pointer-events: none
            transition: all 0.2s ease
            border-radius: 50%
            img
                width: 100%
                height: 100%
                object-fit: cover
                z-index: -2