@import '../../../variables'



.account_info-card
    height: auto
    flex-direction: row
    justify-content: space-between
    //justify-content: flex-end
    background: none
    overflow: visible
    .fast_session_bg-icon
        position: absolute
        left: 1rem
        pointer-events: none
        z-index: -1
        opacity: 0.08
        filter: blur(5px)
        -webkit-filter: blur(5px)
        .fa-icon
            transform: rotate(-90deg) scale(1, 1.5)
            font-size: 13rem
            color: $color-backgr