@import '../../../../variables'



.future_weather-cont
    //border: 1px solid black
    justify-content: space-between
    flex-direction: row
    height: auto
    overflow: visible
    transition: all $dur-open-weather ease-out
    max-height: 5rem
    opacity: 1
    pointer-events: auto